<div class="grouped">
    <div class="grouped-item"></div>
    <div class="grouped-item">
        <h4>
            Reset Password
        </h4>
        <div class="formgroup">
            <form>
                <input type="email" id="email" placeholder="Enter E-Mail">
                <input type="password" id="password" placeholder="Enter New Password">
                <input type="password" id="confpassword" placeholder="Confirm New Password">
                <button>Reset</button>
            </form>
        </div>
    </div>
    <div class="grouped-item"></div>
</div>