<div class="grouped">
    <div class="grouped-item"></div>
    <div class="grouped-item">
        <h4>
            Reset Password
        </h4>
        <div class="formgroup">
            <form [formGroup]="resetGroup">
                <div [ngStyle]="{'margin-bottom': '10px'}">
                   <input type="email" placeholder="Enter E-Mail" [formControl]="email">
                </div>
                <div [ngStyle]="{'margin-bottom': '10px'}">
                   <input type="password" placeholder="Enter New Password" [formControl]="password">
                </div>
                <div [ngStyle]="{'margin-bottom': '10px'}">
                   <input type="password" placeholder="Confirm New Password" [formControl]="confpassword">
                </div>
                <button [disabled]="!resetGroup.valid || password.value !== confpassword.value" (click)="reset()">{{ loading ? 'Loading...' : 'Reset' }}</button>
            </form>
        </div>
    </div>
    <div class="grouped-item"></div>
</div>