<div class="flow">
    <div class="textline">
        <div style="margin: 40px 40px;">
            Welcome to Poetical, the community of intellectuals who are masters in the art of soul upliftment through stanzas.
            Join the community of talented folks and bask in the warmth that comes with each verse in their mind-tingling art.
        </div>
        <div style="margin: 40px auto; width: 50%">
            <a class="button-outline-attention" [routerLink]="['../register']">
                Get Started
            </a>
        </div>
    </div>
    <div class="imgflow">
        <div>
            <img src="/assets/poem.png">
            <div style="margin-top: 10px;">
                Create Poems
            </div>
        </div>
        <div>
            <img src="/assets/chat.png">
            <div style="margin-top: 10px;">
                Communicate
            </div>
        </div>
        <div>
            <img src="/assets/users.jpg">
            <div style="margin-top: 10px;">
                Connect
            </div>
        </div>
    </div>
</div>