<div class="grouped">
    <div class="grouped-item"></div>
    <div class="grouped-item">
        <h4>
            Register
        </h4>
        <div class="formgroup">
            <form [formGroup]="registerGroup">
                <input type="text" id="user" placeholder="Enter Username" [formControl]="username">
                <small [hidden]="username.valid || !username.touched" [ngStyle]="{'color': 'red'}">
                        Not a valid username
                </small>
                <input type="password" id="password" placeholder="Enter Password" [formControl]="password">
                <small [hidden]="password.valid || !password.touched" [ngStyle]="{'color': 'red'}">
                        Password too short
                </small>
                <input type="email" id="email" placeholder="Enter Email" [formControl]="email">
                <small [hidden]="email.valid || !email.touched" [ngStyle]="{'color': 'red'}">
                        Invalid e-mail
                    </small>
                <select id="gender" (change)="bindToElement($event)" [(ngModel)]="gender" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let i of genders">
                            {{ i }}
                        </option>
                    </select>
                <button [disabled]="!registerGroup.valid" (click)="register()">Sign Up</button>
            </form>
        </div>
    </div>
    <div class="grouped-item"></div>
</div>