table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Lora', sans-serif;
}

th {
    text-align: left;
    background-color: rgba(0, 120, 200, 1);
    padding: 8px;
}
td {
    border: 1px solid #dddddd;
    padding: 8px;
}

button.action {
    border: none;
    background-color: #dddddd;
    margin: 8px;
    cursor: pointer;
    outline: none;
}