#user {
    background-image: url('author.jpg');
    background-position: 10px 10px;
    background-size: 20px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

#password {
    background-image: url('key.jpg');
    background-position: 10px 10px;
    background-size: 20px;
    background-repeat: no-repeat;
    padding-left: 40px;
}