#card {
    background-color: rgba(255, 255, 255, 1.0);
    border-color: rgba(0, 0, 220, 0.5);
    width: 100%;
    box-shadow: 0px 0px 2px 2px rgba(0, 225, 255, 0.6);
    justify-content: center;
    align-items: center;
}

#card:hover {
    box-shadow: 0px 0px 4px 4px rgba(0, 255, 255, 0.9);
}

#form-group {
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 75px;
    bottom: 40px;
}

#form-group input {
    width: 200px;
    padding: 20px 22px;
    border-color: #dcdcdc;
    border-style: solid;
    height: 13px;
    outline: none;
}

#login-button {
    background-color: rgba(0, 220, 220, 0.9);
    border: none;
    color: rgba(255, 255, 255, 1.0);
    width: 245px;
    height: 50px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    transition: background 500ms cubic-bezier(0.25, 0.5, 0.75, 1.0);
}

#login-button:hover {
    background-color: rgba(0, 220, 220, 0.5);
}

#username {
    background-image: url('author.jpg');
    background-position: 7px 7px;
    background-repeat: no-repeat;
    background-size: 17px;
}

#password {
    background-image: url('key.jpg');
    background-position: 7px 7px;
    background-repeat: no-repeat;
    background-size: 17px;
}

h4 {
    font-size: 200%;
    color: black;
    font-family: 'Fira Sans Condensed', sans-serif;
}