<div *ngIf="isUserDataLoaded">
  <div class="flex-view">
    <div *ngFor="let user of _allusersdata.content" class="flexed-item">
      <div *ngIf="_mainUserId != user.id" class="card">
        <div class="details-container">
          <div class="details-item">
           <div class="image-div">
              <img src="data:{{ user.profilePic !== null ? user.profilePic.mimeType : '' }};base64,{{ user.profilePic !== null ? user.profilePic.data : '' }}" alt="No image"/>
           </div>
          </div>
          <div class="details-item">
            <strong>
                #{{ user.id }}
            </strong>
          </div>
          <div class="details-item">
            <h5>{{ user.username }}</h5>
          </div>
          <div class="details-item">
            <span style="border: 1px solid #dcdcdc; border-radius: 5px;" (click)="addAsFriend(user.id)">
              &#43;
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-view">
    <div class="flexed-item"></div>
    <div class="flexed-item">
      <ngb-pagination [collectionSize]="_allusersdata.totalElements" [maxSize]="7" [rotate]="true" [boundaryLinks]="true" [directionLinks]="false" [ellipses]="false" [pageSize]="_allusersdata.size" [(page)]="_userspage" (pageChange)="listAllUsers()" size="sm"></ngb-pagination>
    </div>
    <div class="flexed-item"></div>
  </div>
</div>