<table>
  <tr>
    <th>Id</th>
    <th>From</th>
    <th>Read</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let i of data.content">
    <td>{{ i.id }}</td>
    <td>{{ i.author }}</td>
    <td>{{ i.isRead }}</td>
    <td><button class="action">Open</button><button class="action">Delete</button></td>
  </tr>
</table>
<ngb-pagination [collectionSize]="data.totalElements" [pageSize]="data.size" [(page)]="page" (pageChange)="getReceivedMessages()" [maxSize]="7" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [directionLinks]="false" size="sm"></ngb-pagination>