<div *ngIf="_userProfile !== 'undefined'">
  <div class="profile-card">
    <img src="data:{{ _userProfile.profilePic !== null && _userProfile.profilePic != 'undefined' ? _userProfile.profilePic.mimeType : '' }};base64,{{ _userProfile.profilePic !== null && _userProfile.profilePic != 'undefined' ? _userProfile.profilePic.data : '' }}" class="pic" alt="No Image"/>
    <div class="details-container">
        <div class="details-item">
          <i class="fa fa-user"></i> <b>Username:</b> {{ _userProfile.username }}
        </div>
        <div class="details-item">
          <i class="fa fa-venus-mars"></i> <b>Gender:</b> {{ _userProfile.gender }}
        </div>
        <div class="details-item">
          <i class="fa fa-envelope"></i> <b>Messages:</b> <span class="item">{{ _userProfile.unreadMessages }}</span>
        </div>
      </div>
  </div>
  <div [ngStyle]="{'margin-top': '10px'}">
    <div class="uploadgroup">
      <form [formGroup]="uploadGroup">
        <input type="file" (change)="bindFiles($event)" [formControl]="uploadControl">
        <button (click)="uploadPicture()" [disabled]="!uploadGroup.valid">Upload</button>
      </form>
    </div>
  </div>
</div>
<div [ngStyle]="{'margin-top': '30px'}">
    <div *ngIf="_poemsData && _poemsData.content.length > 0">
      <div class="flex-view">
        <div *ngFor="let item of _poemsData.content" class="flexed-item">
          <div class="card">
            <div class="poem-details-container">
              <div class="poem-details-item">
                <div class="image-div">
                  <img src="assets/thumbnail.jpg" alt="No Image"/>
                </div>
              </div>
              <div class="poem-details-item">
                <h5>
                  # {{ item.id }}
                </h5>
              </div>
              <div class="poem-details-item">
                <h5>
                  {{ item.title }}
                </h5>
              </div>
              <div class="poem-details-item">
                <h5>
                  {{ item.author }}
                </h5>
              </div>
              <div class="poem-details-item">
                  <a [routerLink]="['../poem', item.id]" [ngStyle]="{'color': 'black'}">
                    <i class="fa fa-file"></i>
                  </a>
                <i class="fa fa-thumbs-up" [ngStyle]="{'margin-left': '8px'}"></i> {{ item.likes }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-view">
      <div class="flexed-item"></div>
      <div class="flexed-item">
        <ngb-pagination [collectionSize]="_poemsData.totalElements" [maxSize]="7" [rotate]="true" [boundaryLinks]="true" [directionLinks]="false" [ellipses]="false" [pageSize]="_poemsData.size" [(page)]="_poemsPage"(pageChange)="getAllPoemsByUser()" size="sm"></ngb-pagination>
      </div>
      <div class="flexed-item"></div>
    </div>
</div>