@media only screen and (min-width: 768px) {
    body {
        margin: 0;
        padding: 0;
    }

    .container {
        display: flex;
        height: 100vh;
        width: 100vw;
        flex-flow: column nowrap;
        padding: 0;
        background-attachment: fixed;
        overflow: hidden;
    }

    .header {
        height: 8vh;
        background: orange;
    }

    .main {
        height: 84vh;
        margin: 0;
    }

    .footer {
        height: 8vh;
        background: orange;
        color: white;
        text-align: center;
        font-family: 'Nunito Sans', sans-serif;
    }
}

@media only screen and (max-width: 767px) {
    body {
        margin: 0;
        padding: 0;
    }

    .container {
        display: flex;
        height: 120vh;
        width: 100vw;
        flex-flow: column wrap;
        padding: 0;
    }

    .header {
        height: 10vh;
        background: orange;
    }

    .main {
        height: 100vh;
    }

    .footer {
        height: 10vh;
        background: orange;
        color: white;
        text-align: center;
        font-family: 'Nunito Sans', sans-serif;
    }
}