@import "./font-awesome/css/font-awesome.css";

a {
    text-decoration: none;
    color: rgba(100, 200, 200, 0.8);
}

::-webkit-file-upload-button {
    color: white;
    background-color: teal;
    font-family: 'Oswald', sans-serif;
    border: none;
}

@media only screen and (min-width: 768px) {
    body {
        margin: 0;
        padding: 0;
    }

    .container {
        display: flex;
        height: 100vh;
        width: 100vw;
        flex-flow: column nowrap;
        padding: 0;
        background-attachment: fixed;
        overflow: hidden;
    }

    .header {
        height: 8vh;
        background: orange;
    }

    .main {
        height: 84vh;
        margin: 0;
        overflow: scroll;
    }

    .footer {
        height: 8vh;
        background: orange;
        color: white;
        text-align: center;
        font-family: 'Nunito Sans', sans-serif;
    }

    .grouped {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
    }

    .grouped-item {
        width: 100%;
    }

    .grouped-item.marginalize {
        margin-top: 30px;
    }

    .formgroup input, select {
        padding: 14px;
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border: medium solid rgba(0, 0, 0, 1);
        border-radius: 5px;
        transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .formgroup textarea {
        width: 100%;
        height: 200px;
        padding: 30px;
        box-sizing: border-box;
        outline: none;
        border: medium solid rgba(0, 0, 0, 1);
        border-radius: 5px;
        transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .formgroup input:focus, textarea:focus {
        border-color: rgba(128, 0, 128, 1);
    }

    .formgroup button {
        border: 1px solid orange;
        width: 100%;
        background: transparent;
        padding: 14px;
        font-family: 'Roboto Slab', sans-serif;
        cursor: pointer;
        transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        outline: none;
    }

    .formgroup button:hover {
        background-color: rgba(100, 200, 200, 0.8);
    }

    .uploadgroup {
        width: 50%;
    }

    .uploadgroup input[type="file"] {
        margin-bottom: 20px;
        padding: 14px;
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border: medium solid rgba(0, 0, 0, 1);
        border-radius: 5px;
        transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .uploadgroup button {
        border: 1px solid orange;
        width: 100%;
        background: transparent;
        padding: 14px;
        font-family: 'Roboto Slab', sans-serif;
        cursor: pointer;
        transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        outline: none;
    }

    .uploadgroup button:hover {
        background-color: rgba(100, 200, 200, 0.8);
    }
}

@media only screen and (max-width: 767px) {
    body {
        margin: 0;
        padding: 0;
    }

    .container {
        display: flex;
        height: 120vh;
        width: 100vw;
        flex-flow: column nowrap;
        padding: 0;
        background-attachment: fixed;
    }

    .header {
        height: 10vh;
        background: orange;
    }

    .main {
        height: 100vh;
        overflow: scroll;
    }

    .footer {
        height: 10vh;
        background: orange;
        color: white;
        text-align: center;
        font-family: 'Nunito Sans', sans-serif;
    }

    .grouped {
        display: flex;
        flex-flow: column nowrap;
        padding: 30px;
    }

    .grouped-item {
        width: 100%;
    }

    .formgroup input, select {
        padding: 14px;
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border: medium solid rgba(0, 0, 0, 1);
        border-radius: 5px;
        transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .formgroup textarea {
        width: 100%;
        height: 200px;
        padding: 30px;
        box-sizing: border-box;
        outline: none;
        border: medium solid rgba(0, 0, 0, 1);
        border-radius: 5px;
        transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .formgroup input:focus, textarea:focus {
        border-color: rgba(128, 0, 128, 1);
    }

    .formgroup button{
        border: 1px solid orange;
        width: 100%;
        background: transparent;
        padding: 14px;
        font-family: 'Roboto Slab', sans-serif;
        cursor: pointer;
        transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        outline: none;
    }

    .formgroup button:hover {
        background-color: rgba(100, 200, 200, 0.8);
    }

    .uploadgroup {
        width: 100%;
    }

    .uploadgroup input[type="file"] {
        margin-bottom: 20px;
        padding: 14px;
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border: medium solid rgba(0, 0, 0, 1);
        border-radius: 5px;
        transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .uploadgroup button {
        border: 1px solid orange;
        width: 100%;
        background: transparent;
        padding: 14px;
        font-family: 'Roboto Slab', sans-serif;
        cursor: pointer;
        transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        outline: none;
    }

    .uploadgroup button:hover {
        background-color: rgba(100, 200, 200, 0.8);
    }
}